@media(min-width: 400px) and (max-width: 799px){
    body{
        margin-bottom: 75px;
    }

    h2{
        padding-left: 25px;
        font-weight: 800;
        font-size: 1rem;
    }

    h3{
        color:white;
        float: right;
        padding-top: 35px;
    }

    p{
        margin-top: 55px;
        padding-left: 25px;
        padding-right:25px;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.3em;
        letter-spacing: -1px;
        color: #383838;
        font-family: 'Open Sans', sans-serif;
    }

    header{
        height: 100px;
        width: 100%;
        align-content: center;
    }

    #footer{
        position:fixed;
        height: 75px;
        background-color:gray;
        bottom:0px;
        left:0px;
        right:0px;
        margin-bottom:0px;
    }

    .footerContain{
        height: 100px;
        width: 66%;
        align-content: center;
        margin-left: 16.5%;
        margin-right: 16.5%;
    }

    .footerContain img{
        padding-top: 40px;
        padding-right: 5px;
    }

    .scrollerContainer{
        clear: both;
        width: 600px;
        height: 450px;
        padding: 10px;
        border: 1px solid black;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        background: black;
        position: relative;
        left: 10%;
    }

    .scrollerArea{
        overflow: hidden;
        margin-bottom: 25px;
    }

    #pictScroller{
        position: relative;
        overflow: hidden;
        height: 400px;
        padding:0;
        left:0;
    }

    #pictScroller li{
        position:relative;
        max-width: 100%;
        float:left;
        list-style: none;
        left: 0;
    }

    .button{
        background: black;
        text-align: center;
        color: white;
        border: black;
        border-radius: 25px;
        width: 175px;
        height: 30px;
        float: right;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .button a{
        text-decoration: none;
        color:white;
    }

    .button a:visited{
        text-decoration: none;
        color:white;
    }

    .main-menu{
        float: right;
        background: white;
        border: solid;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        text-align: center;
        padding-top: 7px;
        width: 75px;
        height: 25px;
        margin: 10px;
    }

    .main-menu a{
        text-decoration: none;
        color: black;
    }

    .main-menu a:visited{
        text-decoration: none;
        color: black;
    }

    input{
        padding: 3px;
        border: 1px solid black;
        background: #f3f3f3;
        border-radius: 5px;
    }

    textarea{
        padding: 3px;
        border: 1px solid black;
        background: #f3f3f3;
        border-radius: 5px;
        width: 250px;
        height: 100px;
    }
}

@media(min-width: 800px) and (max-width: 1199px){
    body{
        margin-bottom: 75px;
    }

    h2{
        font-weight: 800;
        font-size: 1rem;
    }

    h3{
        color:white;
        float: right;
        padding-top: 35px;
    }

    p{
        margin-top: 55px;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.3em;
        letter-spacing: -1px;
        color: #383838;
        font-family: 'Open Sans', sans-serif;
    }

    header{
        height: 100px;
        width: 75%;
        align-content: center;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }

    #footer{
        position:fixed;
        height: 75px;
        background-color:gray;
        bottom:0px;
        left:0px;
        right:0px;
        margin-bottom:0px;
    }

    .footerContain{
        height: 100px;
        width: 66%;
        align-content: center;
        margin-left: 16.5%;
        margin-right: 16.5%;
    }

    .footerContain img{
        padding-top: 40px;
        padding-right: 5px;
    }

    article{
        width: 66%;
        align-content: center;
        margin-left: 16.5%;
        margin-right: 16.5%;
    }

    .scrollerContainer{
        width: 600px;
        height: 450px;
        padding: 10px;
        border: 1px solid black;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        background: black;
        position: relative;
        margin-top: 100px;
        margin-left: 1%;
    }

    .scrollerArea{
        overflow: hidden;
        margin-bottom: 25px;
    }

    #pictScroller{
        position: relative;
        overflow: hidden;
        height: 400px;
        padding:0;
        left:0;
    }

    #pictScroller li{
        position:relative;
        max-width: 100%;
        float:left;
        list-style: none;
        left: 0;
    }

    .button{
        background: black;
        text-align: center;
        color: white;
        border: black;
        border-radius: 25px;
        width: 125px;
        height: 20px;
        float: right;
        font-size: .75rem;
        padding-bottom: 8px;
    }

    .button a{
        text-decoration: none;
        color:white;
    }

    .button a:visited{
        text-decoration: none;
        color:white;
    }

    .main-menu{
        float: right;
        background: white;
        border: solid;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        text-align: center;
        padding-top: 7px;
        width: 75px;
        height: 25px;
        margin: 10px;
    }

    .main-menu a{
        text-decoration: none;
        color: black;
    }

    .main-menu a:visited{
        text-decoration: none;
        color: black;
    }

    input{
        padding: 3px;
        border: 1px solid black;
        background: #f3f3f3;
        border-radius: 5px;
    }

    textarea{
        padding: 3px;
        border: 1px solid black;
        background: #f3f3f3;
        border-radius: 5px;
        width: 300px;
        height: 125px;
    }
}

@media(min-width: 1200px){
    body{
        margin-bottom: 75px;
    }

    h2{
        font-weight: 800;
        font-size: 1.3rem;
    }

    h3{
        color:white;
        float: right;
        padding-top: 35px;
    }

    p{
        margin-top: 55px;
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.3em;
        letter-spacing: -1px;
        color: #383838;
        font-family: 'Open Sans', sans-serif;
    }

    .scrollerContainer{
        width: 600px;
        height: 450px;
        padding: 10px;
        border: 1px solid black;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        background: black;
        position: relative;
        margin-top: 100px;
        margin-left: 25%;
    }

    .scrollerArea{
        overflow: hidden;
        margin-bottom: 25px;
    }

    #pictScroller{
        position: relative;
        overflow: hidden;
        height: 400px;
        padding:0;
        left:0;
    }

    #pictScroller li{
        position:relative;
        max-width: 100%;
        float:left;
        list-style: none;
        left: 0;
    }


    .button{
        background: black;
        text-align: center;
        color: white;
        border: black;
        border-radius: 25px;
        width: 175px;
        height: 30px;
        float: right;
        font-size: 1rem;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .button a{
        text-decoration: none;
        color:white;
    }

    .button a:visited{
        text-decoration: none;
        color:white;
    }

    header{
        height: 100px;
        width: 66%;
        align-content: center;
        margin-left: 16.5%;
        margin-right: 16.5%;
    }

    #footer{
        position:fixed;
        height: 75px;
        background-color:gray;
        bottom:0px;
        left:0px;
        right:0px;
        margin-bottom:0px;
    }

    .footerContain{
        height: 100px;
        width: 66%;
        align-content: center;
        margin-left: 16.5%;
        margin-right: 16.5%;
    }

    .footerContain img{
        padding-top: 40px;
        padding-right: 5px;
    }

    article{
        width: 66%;
        align-content: center;
        margin-left: 16.5%;
        margin-right: 16.5%;
    }

    .main-menu{
        float: right;
        background: white;
        border: solid;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        text-align: center;
        padding-top: 7px;
        width: 75px;
        height: 25px;
        margin: 10px;
    }

    .main-menu a{
        text-decoration: none;
        color: black;
    }

    .main-menu a:visited{
        text-decoration: none;
        color: black;
    }

    input{
        padding: 3px;
        border: 1px solid black;
        background: #f3f3f3;
        border-radius: 5px;
    }

    textarea{
        padding: 3px;
        border: 1px solid black;
        background: #f3f3f3;
        border-radius: 5px;
        width: 500px;
        height: 250px;
    }

}