@media(min-width: 400px) and (max-width: 799px){
    h2{
        padding-left: 25px;
        font-weight: 800;
        font-size: 1rem;

    }

    p{
        padding-left: 25px;
        padding-right:25px;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.3em;
        letter-spacing: -1px;
        color: #383838;
        font-family: 'Open Sans', sans-serif;
    }

    header{
        height: 100px;
        width: 100%;
        align-content: center;
    }

    .scrollerContainer{
        width: 300px;
        height: 225px;
        padding: 10px;
        border: 1px solid black;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        background: black;
        position: relative;
        top: 25%;
        left: 25%;
    }

    .scrollerArea{
        overflow: hidden;
    }

    #pictScroller{
        position: relative;
        overflow: hidden;
        height: 400px;
        padding:0;
        left:0;
    }

    #pictScroller li{
        position:relative;
        max-width: 100%;
        float:left;
        list-style: none;
        left: 0;
    }

    .button{
        background: black;
        text-align: center;
        color: white;
        border: black;
        border-radius: 25px;
        width: 175px;
        height: 30px;
        float: right;
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .button a{
        text-decoration: none;
        color:white;
    }

    .button a:visited{
        text-decoration: none;
        color:white;
    }

    .main-menu{
        float: right;
        background: white;
        border: solid;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        text-align: center;
        padding-top: 7px;
        width: 75px;
        height: 25px;
        margin: 10px;
    }
}

@media(min-width: 800px) and (max-width: 1199px){
    h2{
        font-weight: 800;
        font-size: 1rem;
    }

    p{
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.3em;
        letter-spacing: -1px;
        color: #383838;
        font-family: 'Open Sans', sans-serif;
    }

    header{
        height: 100px;
        width: 75%;
        align-content: center;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }

    .scrollerContainer{
        width: 600px;
        height: 450px;
        padding: 10px;
        border: 1px solid black;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        background: black;
        position: relative;
        top: 25%;
        left: 25%;
    }

    .scrollerArea{
        overflow: hidden;
    }

    #pictScroller{
        position: relative;
        overflow: hidden;
        height: 400px;
        padding:0;
        left:0;
    }

    #pictScroller li{
        position:relative;
        max-width: 100%;
        float:left;
        list-style: none;
        left: 0;
    }

    .button{
        background: black;
        text-align: center;
        color: white;
        border: black;
        border-radius: 25px;
        width: 175px;
        height: 30px;
        float: right;
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .button a{
        text-decoration: none;
        color:white;
    }

    .button a:visited{
        text-decoration: none;
        color:white;
    }

    .main-menu{
        float: right;
        background: white;
        border: solid;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        text-align: center;
        padding-top: 7px;
        width: 75px;
        height: 25px;
        margin: 10px;
    }
}

@media(min-width: 1200px){
    h2{
        font-weight: 800;
        font-size: 1.3rem;
    }

    p{
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.3em;
        letter-spacing: -1px;
        color: #383838;
        font-family: 'Open Sans', sans-serif;
    }

    .scrollerContainer{
        width: 600px;
        height: 450px;
        padding: 10px;
        border: 1px solid black;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        background: black;
        position: relative;
        top: 25%;
        left: 25%;
    }

    .scrollerArea{
        overflow: hidden;
    }

    #pictScroller{
        position: relative;
        overflow: hidden;
        height: 400px;
        padding:0;
        left:0;
    }

    #pictScroller li{
        position:relative;
        max-width: 100%;
        float:left;
        list-style: none;
        left: 0;
    }

    .button{
        background: black;
        text-align: center;
        color: white;
        border: black;
        border-radius: 25px;
        width: 175px;
        height: 30px;
        float: right;
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .button a{
        text-decoration: none;
        color:white;
    }

    .button a:visited{
        text-decoration: none;
        color:white;
    }

    header{
        height: 100px;
        width: 66%;
        align-content: center;
        margin-left: 16.5%;
        margin-right: 16.5%;
    }

    article{
        height: 100px;
        width: 66%;
        align-content: center;
        margin-left: 16.5%;
        margin-right: 16.5%;
    }

    .main-menu{
        float: right;
        background: white;
        border: solid;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        text-align: center;
        padding-top: 7px;
        width: 75px;
        height: 25px;
        margin: 10px;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:visited{
        text-decoration: none;
        color: black;
    }

}