body{
	font-family: "Helvetica";
	margin: 0 auto;
	width: 1200px;
	height: 2500px;
	background: #006B24;
}

article{
	background: #fff;
	border-top: 5px solid #424242;
	padding: 2px;
}

h1{
	width: 375px;
	margin: 0 0 1px 0;
	font-size: 2em;
	background: #ccc;
	color: #00ff00;
}

h2{
	color: #929292;
	font-weight: normal;
}

li{
	font-style: italic;
}

p{
	text-align: center;
}



.center {
  text-align: center;
  color: red;
  text-decoration: underline;
} 

.highlight{
	background: yellow;
	text-transform: capitalize;
}

/*
Pseudo classes
LoVHAte (:link, :visited, :hover, :active)
:first-child
:last-child
:nth-child(an+b/even/odd/n)


ul li:first-child{
	color: red;
}

ul li:last-child{
	color: red;
}

ul li:nth-child(even){
	background: #e3e3e3;
}*/

a:link{
	color: red;
	text-decoration: none;
}

a:visited{
	color: grey;
}

a:hover{
	background: yellow;
}

a:active {
    color: #0000EE;
}
/* Inline, Inline-Block and Block 
ul li{
	display: inline-block;
	padding: 10px;
	width: 280px;
}*/

/* Float example 
ul li{
	float: left;
	width: 280px;
}

h2{
	clear:both;
}*/