header{
	width: 100%;
}


.column{
	width: 50%;
	background: #e3e3e3;
	float: left;
}

@media(min-width: 400px) and (max-width: 799px){
	.column{
		width: 100%;
	}
}

@media(min-width: 800px) and (max-width: 1199px){
	.column{
		width: 50%;
	}
}

@media(min-width: 1200px){
	.column{
		width: 33%;
	}
}